.iframe-rwd {
    position: relative;
    margin-bottom: 5%;
    margin-top: 5%;
    overflow: hidden;    
}

iframe {
    width: 60%;
    height: 350;
    @apply mx-auto;
}

@screen md {
    iframe {
        width: 60%;
        height: 250;
    }
}

.location__description {
    @apply font-bold text-xl mb-4;
}